html,
body{
  min-width: 1122px;
/**  min-height: 1750px;**/
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  background: #f8f5f2 url("../image/content-bg.gif");
}

.main-body{
  background: #000000 url("../image/body-bg.jpg") no-repeat center top;
  /**background: #000000 url("../image/background-all.png") no-repeat 50% 3px;**/
  /**background-size: 1122px auto;**/
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.header{
  margin-bottom: 60px;
  background: #000000;
}

.container{
  position:relative;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-menu{
  float: left;
  padding: 0;
  margin: 0;
  width: 780px;
/**  min-height: 72px;**/
  list-style: none;
}

.main-menu > li{
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
}

.main-menu a{
  display: block;
  padding: 29px 20px;
}

.main-menu a:hover{
  background-color: #242424;
}

.main-menu > li > a{
  text-decoration: none;
  color: #ffffff;
}

.price-menu .active{
  padding: 29px 20px 25px 20px;
}

.active-menu{
  position: relative;
  height: 4px;
  top: 25px;
  background-color: #ffffff;
}

.price-menu > .active-menu{
  width: 77px;
}

.btn-login{
  float: right;
  position: relative;
  width: 140px;
  min-height: 72px;
  color: #ffffff;
}

.btn-enter{
  color: #ffffff;
  text-decoration: none;
}

.btn-login::before{
  content: "";
  position: absolute;
  top: 30px;
  left: 20px;
  width: 17px;
  height: 17px;
  background-image: url("../image/enter-btn.png");
}

.btn-login:hover::before{
  content: "";
  position: absolute;
  top: 30px;
  left: 20px;
  width: 17px;
  height: 16px;
  background-image: url("../image/enter-btn-hover.png");
}

.btn-enter{
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  padding: 27px 20px 27px 50px;
}

.btn-enter:hover{
  background-color: #242424;
}

.index-logo{
  width: 368px;
  height: 204px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.features-item{
  float: left;
  width: 300px;
  min-height: 175px;
  padding: 0 8px;
  margin-bottom: 60px;
  color: #ffffff;
  text-align: center;
}

.features-item:last-child{
  padding-right: 0px;
}

.features-name{
  font-size: 30px;
}

.diamond{
  width: 15px;
  height: 15px;
  margin: 20px auto;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.index-content{
  margin-bottom: 35px;
  padding-top: 50px;
  background: url("../image/index-content-line.png") no-repeat center,
              #f8f5f2 url("../image/content-bg.gif");

}

.index-content-left{
  float: left;
  min-height: 400px;
  width: 330px;
  margin-left: 80px;
}

.index-content-left > p{
  margin-bottom: 25px;
}

.index-content-right{
  float: right;
  min-height: 400px;
  width: 300px;
  margin-right: 80px;
}

.index-content-right > p{
  margin-bottom: 25px;
}

.index-content-title{
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}

.news-preview{
  margin: 0;
  padding: 0;
  list-style: none;
}

.news-preview > li{
  margin-bottom: 25px;
}

.news-preview > li > p{
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}

time{
  font-size: 14px;
  font-weight: 400;
}

.btn{
  display: inline-block;
  padding: 10px 32px;
  margin-right: 15px;
  color: #ffffff;
  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
}

.btn:hover,
.btn:active{
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled{
  cursor: default;
  opacity: 0.3;
}

.btn.disabled:hover,
.btn:disabled:hover{
  background-color: #000000;
}

.gallery{
  position: relative;
  height: 260px;
}

.gallery-content{
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

.gallery-content > img{
  border: 8px solid #ffffff;
}

.gallery .btn{
  position: absolute;
  width: 140px;
  bottom: 0;
  margin: 0;
}

.gallery-prev{
  left: 0;
}

.gallery-next{
  right: 0;
}

.appointment-form input{
  float: left;
  width: 106px;
  padding: 7px 15px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
}

.appointment-form input:nth-child(2n){
  margin-right: 0;
}

.appointment-form .btn{
  clear: both;
  width: 100%;
}

.footer{
  min-height: 120px;
  padding-top: 60px;
  color: #ffffff;
  background: #232323;
  background-image: url("../image/footer-bg.gif");
}

.footer-contacts{
  float: left;
  width: 380px;
  padding: 0 10px 0 0;
  text-align: left;
}

.footer-contacts > a{
  color: #ffffff;
}

.footer-contacts > a:hover{
  text-decoration: none;
}

.footer-social{
  float: left;
  width: 140px;
  padding: 0 10px;
  text-align: center;
}

.footer-social > p{
  margin: 0;
  margin-bottom: 15px;
}

.social-btn{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 2px;
  font-size: 0px;
  background: #000000 url("../image/social-sprite.png") no-repeat center;
}

.social-btn-vk{
  background-position: -3px -2px;
}

.social-btn-fb{
  background-position: -51px -2px;
}

.social-btn-inst{
  background-position: -100px -2px;
}

.social-btn-vk:hover{
  background-position: -3px -65px;
}

.social-btn-fb:hover{
  background-position: -51px -65px;
}

.social-btn-inst:hover{
  background-position: -100px -65px;
}

.footer-copyright{
  float: right;
  width: 140px;
  padding: 0 0 0 10px;
  text-align: center;
}

/*for price.html*/
.price-menu{
  float: left;
  padding: 0;
  margin: 0;
  width: 565px;
  min-height: 72px;
  list-style: none;
}

.small-logo{
  float: left;
  padding: 24px 20px;
  margin: 0;
}

.price-menu > li{
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
}

.price-menu a{
  display: block;
  padding: 29px 20px;
  text-decoration: none;
  color: #ffffff;
}

.price-menu a:hover{
  background-color: #242424;
}

.breadcrumbs{
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li{
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs li:last-child{
  color: #aba9a7;
}

.breadcrumbs a{
  color: #000000;
  text-decoration: none;
}

.diamond-small{
  display: inline-block;
  position:relative;
  bottom: 2px;
  width: 6px;
  height: 6px;
  margin: 0 10px;
  background-color: #000000;
  transform: rotate(45deg);
}

.attention-block h1{
  position: relative;
  font-size: 46px;
  line-height: 56px;
  text-align: center;
  background: #f8f5f2 url("../image/content-bg.gif");
  z-index: 2;
}

.attention-text{
  width: 620px;
  margin: 0 auto;
}

.attention-line{
  position: relative;
  width: 960px;
  height: 2px;
  background-color: #000000;
  bottom: 60px;
  z-index: 1;
}

.price-content-left{
  float: left;
  width: 380px;
  margin-bottom: 60px;
}

.price-content-left ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.price-content-left li{
  display: inline;
}

.price-content-right{
  float: right;
  width: 460px;
  margin-bottom: 60px;
}

.price-content-right table{
  border: 2px solid #000000;
  margin-bottom: 5px;
  border-collapse: collapse;
}

.price-content-right td{
  width: 230px;
  height: 40px;
  margin: 0px;
  border: 2px solid #000000;
}

.price-content-right td:nth-child(even){
  text-align: center;
}

.price-content-right td:nth-child(odd){
  width: 215px;
  padding-left: 15px;
}
