html,
body{
  min-width: 1122px;
/**  min-height: 1750px;**/
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  background: #f8f5f2 url("../image/content-bg.gif");
}

.main-body{
  background: #000000 url("../image/body-bg.jpg") no-repeat center top;
  /**background: #000000 url("../image/background-all.png") no-repeat 50% 3px;**/
  /**background-size: 1122px auto;**/
}

h2{
  font-size: 30px;
}

h3{
  font-size: 24px;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.header{
  margin-bottom: 60px;
  background: #000000;
}

.container{
  position:relative;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-menu{
  float: left;
  padding: 0;
  margin: 0;
  width: 780px;
/**  min-height: 72px;**/
  list-style: none;
}

.main-menu > li{
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
}

.main-menu a{
  display: block;
  padding: 29px 20px;
}

.main-menu a:hover{
  background-color: #242424;
}

.main-menu > li > a{
  text-decoration: none;
  color: #ffffff;
}

.price-menu .active{
  padding: 29px 20px 25px 20px;
}

.active-menu{
  position: relative;
  height: 4px;
  top: 25px;
  background-color: #ffffff;
}

.price-menu > .active-menu{
  width: 77px;
}

.btn-login{
  float: right;
  position: relative;
  width: 140px;
  min-height: 72px;
  color: #ffffff;
}

.btn-enter{
  color: #ffffff;
  text-decoration: none;
}

.btn-login::before{
  content: "";
  position: absolute;
  top: 30px;
  left: 20px;
  width: 17px;
  height: 17px;
  background-image: url("../image/enter-btn.png");
}

.btn-login:hover::before{
  content: "";
  position: absolute;
  top: 30px;
  left: 20px;
  width: 17px;
  height: 16px;
  background-image: url("../image/enter-btn-hover.png");
}

.btn-enter{
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  padding: 27px 20px 27px 50px;
}

.btn-enter:hover{
  background-color: #242424;
}

.index-logo{
  width: 368px;
  height: 204px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.features-item{
  float: left;
  width: 300px;
  min-height: 175px;
  padding: 0 8px;
  margin-bottom: 60px;
  color: #ffffff;
  text-align: center;
}

.features-item:last-child{
  padding-right: 0px;
}

.features-name{
  font-size: 30px;
}

.diamond{
  width: 15px;
  height: 15px;
  margin: 20px auto;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.index-content{
  margin-bottom: 35px;
  padding-top: 50px;
  background: url("../image/index-content-line.png") no-repeat center,
              #f8f5f2 url("../image/content-bg.gif");

}

.index-content-left{
  float: left;
  min-height: 350px;
  width: 330px;
  margin-left: 80px;
  padding-bottom: 50px;
}

.index-content-left > p{
  margin-bottom: 25px;
}

.index-content-right{
  float: right;
  min-height: 400px;
  width: 300px;
  margin-right: 80px;
}

.index-content-right > p{
  margin-bottom: 25px;
}

.index-content-title{
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}

.news-preview{
  margin: 0;
  padding: 0;
  list-style: none;
}

.news-preview > li{
  margin-bottom: 25px;
}

.news-preview > li > p{
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}

time{
  font-size: 14px;
  font-weight: 400;
}

.btn{
  display: inline-block;
  padding: 10px 32px;
  margin-right: 15px;
  color: #ffffff;
  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
}

.btn:hover,
.btn:active{
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled{
  cursor: default;
  opacity: 0.3;
}

.btn.disabled:hover,
.btn:disabled:hover{
  background-color: #000000;
}

.gallery{
  position: relative;
  height: 260px;
}

.gallery-content{
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

.gallery-content > img{
  border: 8px solid #ffffff;
}

.gallery .btn{
  position: absolute;
  width: 140px;
  bottom: 0;
  margin: 0;
}

.gallery-prev{
  left: 0;
}

.gallery-next{
  right: 0;
}

.appointment-form input{
  float: left;
  width: 106px;
  padding: 7px 15px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
}

.appointment-form input:nth-child(2n){
  margin-right: 0;
}

.appointment-form .btn{
  clear: both;
  width: 100%;
}

.footer{
  min-height: 120px;
  padding-top: 60px;
  color: #ffffff;
  background: #232323;
  background-image: url("../image/footer-bg.gif");
}

.footer-contacts{
  float: left;
  width: 380px;
  padding: 0 10px 0 0;
  text-align: left;
}

.footer-contacts > a{
  color: #ffffff;
}

.footer-contacts > a:hover{
  text-decoration: none;
}

.footer-social{
  float: left;
  min-width: 140px;
  padding: 0 10px;
  text-align: center;
}

.footer-social > p{
  margin: 0;
  margin-bottom: 15px;
}

.social-btn{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 2px;
  font-size: 0px;
  background: #000000 url("../image/social-sprite.png") no-repeat center;
}

.social-btn-vk{
  background-position: -3px -2px;
}

.social-btn-fb{
  background-position: -51px -2px;
}

.social-btn-inst{
  background-position: -100px -2px;
}

.social-btn-vk:hover{
  background-position: -3px -65px;
}

.social-btn-fb:hover{
  background-position: -51px -65px;
}

.social-btn-inst:hover{
  background-position: -100px -65px;
}

.footer-copyright{
  float: right;
  width: 140px;
  padding: 0 0 0 10px;
  text-align: center;
}

.footer-copyright .btn{
  padding-right: 20px;
  padding-left: 25px;
}

.footer-copyright .btn:hover,
.footer-copyright .btn:active{
  background-color: #ffffff;
  color: #000000;
}
/*for price.html*/

.price-menu{
  float: left;
  padding: 0;
  margin: 0;
  width: 565px;
  min-height: 72px;
  list-style: none;
}

.small-logo{
  float: left;
  padding: 27px 20px;
  margin: 0;
}

.price-menu > li{
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
}

.price-menu a{
  display: block;
  padding: 29px 20px;
  text-decoration: none;
  color: #ffffff;
}

.price-menu a:hover{
  background-color: #242424;
}

.breadcrumbs{
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li{
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs li:last-child{
  color: #aba9a7;
}

.breadcrumbs a{
  color: #000000;
  text-decoration: none;
}

.diamond-small{
  display: inline-block;
  position:relative;
  bottom: 2px;
  width: 6px;
  height: 6px;
  margin: 0 10px;
  background-color: #000000;
  transform: rotate(45deg);
}

.attention-block h1{
  position: relative;
  font-size: 46px;
  line-height: 56px;
  text-align: center;
  background: #f8f5f2 url("../image/content-bg.gif");
  z-index: 2;
}

.attention-text{
  width: 620px;
  margin: 0 auto;
}

.attention-line{
  position: relative;
  width: 960px;
  height: 2px;
  background-color: #000000;
  bottom: 60px;
  z-index: 1;
}

.price-content-left{
  float: left;
  width: 380px;
  margin-bottom: 60px;
}

.price-content-left ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.price-content-left li{
  display: inline;
}

.price-content-right{
  float: right;
  width: 460px;
  margin-bottom: 60px;
}

.price-content-right table{
  border: 2px solid #000000;
  margin-bottom: 5px;
  border-collapse: collapse;
}

.price-content-right td{
  width: 230px;
  height: 40px;
  margin: 0px;
  border: 2px solid #000000;
}

.price-content-right td:nth-child(even){
  text-align: center;
}

.price-content-right td:nth-child(odd){
  width: 215px;
  padding-left: 15px;
}

.price-content-right > p{
  padding-top: 57px;
}

.price-content-right > p + p{
  padding-top: 0;
}

/*for shop.html*/
.shop-side-menu{
  float: left;
  width: 220px;
}

.shop-side-menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.shop-side-menu li{
  margin: 0;
  padding: 0;
  margin-bottom: -10px;
}

.shop-side-menu b{
  display: inline-block;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.shop-side-menu button{
  margin-top: 195px;
}

.shop-list{
  float: left;
  width: 700px;
  padding: 0;
  margin-top: 35px;
}

.shop-checkbox{
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.shop-checkbox:hover{
  color: #663d15;
}

.shop-checkbox input[type="checkbox"]{
   display: none;
}

.shop-checkbox input[type="checkbox"]+
.checkbox-indicator{
  position: absolute;
  top: 0px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}

.shop-checkbox input[type="checkbox"]:checked+
.checkbox-indicator::before,
.shop-checkbox input[type="checkbox"]:checked+
.checkbox-indicator::after{
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}

.shop-checkbox input[type="checkbox"]:checked+
.checkbox-indicator::before{
  transform: rotate(45deg);
}

.shop-checkbox input[type="checkbox"]:checked+
.checkbox-indicator::after{
  transform: rotate(-45deg);
}

.shop-item{
  display: inline-block;
  width: 220px;
  height: 287px;
  margin: 0;
  padding: 0;
  margin-right: 17px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.shop-list ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.shop-list li{
  display: inline-block;
}

.shop-list li:nth-child(3n) > div{
  margin-right: 0;
}

.shop-item:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.shop-item p{
  margin: 0;
  padding: 0;
  padding-left: 16px;
  padding-bottom: 10px;
  text-transform: none;
}

.shop-item a{
  text-decoration: none;
  color: #000000;
}

.shop-preview{
  width: 220px;
  height: 165px;
}

.buy{
  width: 187px;
  margin: 0 auto;
  background-color: #e5e5e5;
}

.buy span{
  display: inline-block;
  width: 108px;
  text-align: center;
}

.btn-buy{
  margin: 0;
  padding: 10px 17px;
}

.paginator{
  margin-top: 45px;
  margin-bottom: 50px;
}

.paginator a,
.paginator span{
  display: inline-block;
  padding: 8px 16px;
  margin-right: 7px;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
}

.paginator a:hover,
.paginator a:active{
  background-color: #663d15;
}

.paginator span{
  color: #000000;
  background-color: #ffffff;
  cursor: default;
}

/*for item.html*/
.item-content-left{
  float: left;
  width: 460px;
  margin: 50px 0px;
}

.item-small-image{
  margin-top: 20px;
  margin-right: 17px;
}

.last-image{
  margin-right: 0px;
}

.item-content-right{
  float: right;
  width: 390px;
  margin-top: 50px;
}

.art-no{
  float: right;
  color: #c2c1c0;
}

.item-content-right p{
  margin-top: 40px;
}

.item-content-right .buy{
  margin: 0;
  margin-bottom: 65px;
}

.item-content-right b{
  font-size: 24px;
}

.item-content-right ul{
  margin: 0;
  padding: 0;
  margin-top: 35px;
  list-style: none;
}

.item-content-right li{
  display: inline;
}

.item-content-right .diamond-small{
  margin-left: 2px;
}

/*for modal windows*/
.modal-content{
  position: absolute;
  display: none;
  top: 120px;
  left: 50%;
  width: 300px;
  margin-left: -230px;
  padding: 50px 80px;
  color: #000000;
  background: #f8f5f2 url("../image/content-bg.gif");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.modal-content-close{
  position: absolute;
  top: 0px;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: none;
}

.modal-content-close::before,
.modal-content-close::after{
  content: "";
  position: absolute;
  top: 9px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-content-close::before{
  transform: rotate(45deg);
}

.modal-content-close::after{
  transform: rotate(-45deg);
}

.modal-content h2{
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.modal-content p{
  margin: 0;
  margin-bottom: 14px;
}

.modal-content .login-form{
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"]{
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

.login-form input:focus{
  border-color: #663d15;
}

.login-form input.icon-user{
  background-image: url("../image/user-login.png");
  background-repeat: no-repeat;
  background-position: 95% 15px;
}

.login-form input.icon-password{
  background-image: url("../image/user-pass.png");
  background-repeat: no-repeat;
  background-position: 95% 14px;
}

.login-form .restore{
  float: right;
  color: #000000;
}

.login-form .btn{
  width: 100%;
  margin-top: 15px;
}

.modal-content-map{
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  z-index: 20;
  width: 766px;
  height: 561px;
  margin-top: -280px;
  margin-left: -390px;
  background: #e9e5dc url("../image/map.jpg");
  border: 7px solid #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-overlay{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

@keyframes bounce {
  0%    {transform: translateY(-2000px);}
  70%   {transform: translateY(30px);}
  90%   {transform: translateY(-10px);}
  100%  {transform: translateY(0px);}
}

.modal-content-show{
  display: block;
  animation: bounce 0.6s;
}

input:focus{
  border-color: #663d15;
}
