html,
body{
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
}

body{
  background: #000000 url("../image/body-bg.jpg") no-repeat center top;
  /**background: #000000 url("../image/background-all.png") no-repeat 50% 3px;**/
  /**background-size: 1122px auto;**/
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.header{
  margin-bottom: 60px;
  background: #000000;
}

.container{
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-menu{
  float: left;
  padding: 0;
  margin: 0;
  width: 780px;
  min-height: 72px;
  list-style: none;
}

.main-menu > li{
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
}

.main-menu a{
  display: block;
  padding: 29px 20px;
}

.main-menu a:hover{
  background-color: #242424;
}

.main-menu > li > a{
  text-decoration: none;
  color: #ffffff;
}

.btn-login{
  float: right;
  position: relative;
  width: 140px;
  min-height: 72px;
  color: #ffffff;
}

.btn-login::before{
  content: "";
  position: absolute;
  top: 30px;
  left: 20px;
  width: 17px;
  height: 17px;
  background-image: url("../image/enter-btn.png");
}

.btn-login:hover::before{
  content: "";
  position: absolute;
  top: 30px;
  left: 20px;
  width: 17px;
  height: 16px;
  background-image: url("../image/enter-btn-hover.png");
}

.btn-enter{
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  padding: 27px 20px 27px 50px;
}

.btn-enter:hover{
  background-color: #242424;
}

.index-logo{
  width: 368px;
  height: 204px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.features-item{
  float: left;
  width: 300px;
  min-height: 175px;
  padding: 0 8px;
  margin-bottom: 60px;
  color: #ffffff;
  text-align: center;
}

.features-item:last-child{
  padding-right: 0px;
}

.features-name{
  font-size: 30px;
}

.diamond{
  width: 15px;
  height: 15px;
  margin: 20px auto;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.index-content{
  margin-bottom: 35px;
  padding-top: 50px;
  background: #f8f5f2;
  background-image: url("../image/content-bg.gif");
}

.index-content-left{
  float: left;
  min-height: 400px;
  width: 330px;
  margin-left: 80px;
}

.index-content-right{
  float: right;
  min-height: 400px;
  width: 300px;
  margin-right: 80px;
}

.news-preview{
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer{
  min-height: 120px;
  padding-top: 60px;
  color: #ffffff;
  background: #232323;
  background-image: url("../image/footer-bg.gif");
}

.footer-contacts{
  float: left;
  width: 380px;
  padding: 0 10px 0 0;
  text-align: left;
}

.footer-contacts > a{
  color: #ffffff;
}

.footer-social{
  float: left;
  width: 140px;
  padding: 0 10px;
  text-align: center;
}

.footer-copyright{
  float: right;
  width: 140px;
  padding: 0 0 0 10px;
  text-align: center;
}
